/* Стилизация кнопки */

.button {
    width: 189px;
    height: 48px;
    border-radius: 8px;
}

.button__primary {
    background: #4263EB;
    border: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.button__primary:hover {
    background: #2342C0;
}

.button__primary:disabled {
    background: #4263EB;
    Opacity: 50%
}

.button__secondary {
    background: #7048E8;
    border: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.button__secondary:hover {
    background: #5028C6;
}

.button__secondary:disabled {
    background: #7048E8;
    Opacity: 50%
}

.button__alternate {
    background: #FFFFFF;
    border: 1px solid #ACB5BD;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #495057;
}

.button__alternate:hover {
    border-color: black;
}

.button__alternate:disabled {
    Opacity: 30%
}


