.sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 36px;
    width: 229px;
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar__title {
    color: var(--black, #212429);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sidebar__item {
    font-family: 'Inter' sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: #212429;
}

.sidebar__item:nth-last-child(2) {
    margin-bottom: 30px;
}

.sidebar__link {
    text-decoration: none;
    color: var(--black);
}

.sidebar__link:active {
    color: #D84910;
}

