/* Стилизация аккордеона */
.accordion {
    font-family: 'Inter' sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
}

.accordion__item {
    border-radius: 8px;
    background: #FFFFFF;
    border: 1px solid #ACB5BD; 
    overflow: hidden; 
    margin-bottom: 8px;
    cursor: pointer;
} 

.accordion__summary {
    padding: 24px 32px 16px 32px;
    display: inline-block;
    text-align: left;
    color: #000000;
    border: none;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__title {
    padding: 0 48px 32px 32px;
    color: #495057;
}

.accordion__summary::-webkit-details-marker {  
    display: none;
}

