
.radio {
    display: inline-block;
    position: relative;
}

.radio__input {
    position: absolute;
    left: -100vw;
}

.radio__state {
    display: flex;
    gap: 12px;
    align-items: center;
}

.radio__control {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: 1px solid #DDE2E5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio__control::before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 14px;
    background: #FFFFFF;
}

.radio__label {
    font-family: 'Inter' sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #495057;
}

.radio__input:checked ~ .radio__state .radio__control {
    border: 2px solid #4263EB;
}

.radio__input:checked ~ .radio__state .radio__control::before {
    background-color: #4263EB;
}

.radio__input:focus ~ .radio__state .radio__label {
    text-decoration: underline;
}

.radio__input:disabled ~ .radio__state .radio__control {
    background: #DDE2E5;
}

.radio__input:disabled ~ .radio__state {
    pointer-events: none;
}

.radio__input:disabled ~ .radio__state .radio__control::before {
    background: #DDE2E5;
}

.radio__input:disabled ~ .radio__state .radio__label {
    color: #DDE2E5;
}
