.tooltip {
    position: relative;
    top: 50px;
    left: 50px;
    display: inline-block;  
}

.tooltip__trigger {

}

.tooltip__bubble {
    display: none;
    padding: 13px 21px 8px 21px;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #DDE2E5;
    background-color: #4263EB;
    border-radius: 10px;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.tooltip__bubble:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-top-color: #4263EB;
}

.tooltip__trigger:hover ~ .tooltip__bubble {
   display: block;
}