.footer {
     background-color:  #FFFFFF;
     padding: 72px 383px 136px 417px;
}

.footer__title {
    padding: 0 0 32px;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    color: #212429;
}

.footer__description {
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #212429;
}