@import url(../components/dz-page/page.css);
@import url(../components/dz-header/header.css);
@import url(../components/dz-footer/footer.css);
@import url(../components/dz-container/container.css);

.page_inner {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: #F9FAFC;

}

.header_template {
    width: 100%;
    height: 82px;
    opacity: 0px;
    background-color: aqua;

}

.section {
    display: grid;
    grid-template-columns: auto 1fr;
}

.section__sidebar {
    
}

.sidebar__menu {
    font-family: 'Inter' sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    text-decoration-skip-ink: none;
    background: #000000;
}

.sidebar__items {
    font-family: 'Inter' sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-decoration-skip-ink: none;
    background: #212429;
}

.sidebar__items_active {
    background: #D84910;
}

.section__component {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    background: #a71515;
    box-shadow: 0px 2px 4px 0px #2124290D;
}

