.input {
    position: relative;
    display: inline-block;
    width: 350px;
    height: 56px;
    border: 1px solid #DDE2E5;
    border-radius: 8px;
    outline: none;
    padding-left: 24px;
}

.input_label {
    border: 1px solid #DDE2E5;
}

.input::placeholder {
    font-family: 'Inter' sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: #AAAAAA;
}

.input:focus {
    border: 1px solid #4263EB;
    box-shadow: 0px 1px 1px 0px #339AF01A;
}

.input_invalid::placeholder {
    
}

.input_invalid {
    border: 1px solid #F03D3E;
    box-shadow: 0px 1px 1px 0px #F03D3E1A;
    
}

.input_invalid:focus {
    border: 1px solid #F03D3E;
    box-shadow: 0px 1px 1px 0px #F03D3E1A;
}

.input_success {
    
}

